.container {
  padding-top: 40px
}

.container input {
  margin-left: 20px
}

h6 {
  font-size: 17px;
}

.user {
  background-color:rgba(255, 255, 255, 0.918)
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card, .sliding-card {
  height: 400px;
  width: 250px;
}

.card {
  margin-top: 25px;
  border: transparent;
}

.card:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.approval-icons {
  display: flex;
  justify-content: space-evenly;
}

.flex-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  font-size: 32px;
  text-align: center;
}

.flex-item, .sliding-card {
  transform-style: preserve-3d;
}

.card-body-back {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  height: 350px;
  width: 205px;
}

.cardimg {
  height: 200px;
}

.card-title {
  font-size: 24px;
}

.card-text {
  font-size: 16px;
}

.dislike {
  background-color: transparent;
  background-image: url('/assets/icons/cross.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 40px;
  border: none;
  background-size: contain;
}

.dislike:hover {
  /* transition-duration: 0.1s; */
  transform: scale(1.3);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.like {
  background-color: transparent;
  background-image: url('/assets/icons/check.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 40px;
  border: none;
  background-size: contain;
}

.like:hover {
  transform: scale(1.3);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.trashButton {
  background-color: transparent;
  background-image: url('/assets/icons/trash.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 40px;
  border: none;
  background-size: contain;
}

.trashButton:hover {
  transform: scale(1.3);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.undoButton {
  background-color: transparent;
  background-image: url('/assets/icons/undo1.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 50px;
  border: none;
  background-size: contain;
}

.undoButton:hover {
  transform: scale(1.3);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#dropdownSettingsButton2 {
  text-align: center;
  width: 10%;
}

#dropdownSettingsButton2:hover {
  background-color: #e5e5e5;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.sliding-card {
  animation: slideleft 2s;
}

@-webkit-keyframes slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px)
  }

  100% {
    -webkit-transform: translateX(0px)
  }
}

@-moz-keyframes slideleft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-300px)
  }

  100% {
    -moz-transform: translateX(0px)
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-300px)
  }

  100% {
    transform: translateX(0px)
  }
}

@media screen and (max-width: 530px) {

  /*
    Not terribly happy with this half-finished dropdown
    I'll hide it for mobile displays.

    Someone can finish it in the future and 
    finagle with its position. 
  */
  .dropdown {
    display: none;
  }

  /*
    Honestly kinda shocked how easy it was to do the rideswipe
    with just a flexbox... was thinking I needed some fancy
    tinder swipe animation or maybe hammer.js animations.

    No. In fact...just put everything in a flexbox container
    as a row...with no wrapping. and it's done. Huh.
  */
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card, .sliding-card {
    height: 480px;
    width: 360px;
  }

  .card {
    margin-right: 20px;
  }

  .flex-item {
    font-size: 36px;
  }

  .cardimg {
    height: 250px;
  }

  .card-title {
    padding-top: 10px;
    font-size: 32px;
  }

  .card-text {
    font-size: 24px;
  }

  .card-body-back {
    height: 430px;
    width: 320px;
  }
}