#tablecont{
    background-image: url('../../../assets/img/ss_dash.jpg');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.container-fluid{
  background:rgb(255, 255, 255,0.8);
}
