<br>
<div class="form-group row" id="tablecont" style="width: 100%; display: flexbox; justify-content: space-evenly">
  <div class="col-lg-4 col-xs-12 extend">
    <ngb-tabset (tabChange)="tabSelect($event)">

      <div label="VIEW PROFILE div">
        <ngb-tab title="Your Profile" id="1">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Your Profile:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="firstName" #firstname="ngModel" id="firstName"
                  required disabled>
              </div>
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                  First name cannot be empty
                </div>
                <div *ngIf="firstname.errors.maxLength">
                  ;
                  First name cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="basic-addon1 ">Last Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="lastName" #lastname="ngModel" id="lastName"
                  required disabled>
              </div>
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                  Last name cannot be empty
                </div>
                <div *ngIf="lastname.errors.maxLength">
                  ;
                  Last name cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="email" class="form-control" [(ngModel)]="username" #uName="ngModel" id="email" required
                  placeholder="Email.." disabled>
              </div>
              <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
                <div *ngIf="uName.errors.required">
                  Email cannot be empty
                </div>
                <div *ngIf="uName.errors.maxLength">
                  Email cannot be more than 25 characters
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
              </div>

              <!--               <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Office Address</span>
                </div>
                <div class="input-group-text" style="padding-right: 137px; display: inline" id="currentOffice">
                </div>
                <div class="input-group-text" style="padding-right: 100px; display: none" id="selectOffice">
                   <select [(ngModel)]="officeObject">
                    <option *ngFor="let office of officeObjectArray">{{office.name}}</option>
                  </select> 
                </div>
              </div> -->


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Role</span>
                </div>
                <input type="email" class="form-control" [(ngModel)]="userRolePlaceholderString" #uName="ngModel" id="decoy_user_role"
                  placeholder="Error: userRolePlaceholderString ngModel not set." disabled>
                <select id="user_role" class="browser-default custom-select" #roleType disabled hidden>
                  <option [value]="type" *ngFor="let type of userRoleTypes">
                    {{type}}
                  </option>
                </select>
              </div>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Status</span>
                  </div>
                  <input type="email" class="form-control" [(ngModel)]="userActivityString" #uName="ngModel" id="decoy_user_activity"
                  placeholder="Error: userActivityString ngModel not set." disabled>
                  <select id="user_activity" class="browser-default custom-select" #roleType disabled hidden>
                    <option [value]="type" *ngFor="let type of userActivityTypes">
                      {{type}}
                    </option>
                  </select>
                </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Address</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  name="autocompleteTest" appPlacesAutocomplete (addressSelect)="onAddressSelect($event)"
                  [(ngModel)]="_address" #address="ngModel" required id="address" placeholder="Type to search.."
                  disabled>
              </div>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <div *ngIf="address.errors.required">
                  Address cannot be empty
                </div>
              </div>

              <!--<div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Batch End</span>
                </div>
                <input type="text" id="batchEnd" class="form-control" [(ngModel)]="batchEnd" disabled>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Starting Time</span>
                </div>
                <input type="text" id="dayStart" class="form-control" value="{{startTime | date:'shortTime'}}" disabled>
              </div>-->

              <div id="switchRoles" hidden>
                <button *ngIf="currentRole === 'DRIVER'" class="btn btn-secondary" id="switchRider"
                  (click)="switchRole()">Switch to Rider <i class="fas fa-walking"></i></button>
                <button *ngIf="currentRole === 'RIDER'" class="btn btn-secondary" id="switchDriver"
                  (click)="switchRole()">Switch to Driver <i class="fas fa-car"></i></button>
              </div>
              <br>
              <!--Inactivity does not affect admin/trainer functionality. No point in showing them the button-->
              <div *ngIf="currentRole !== 'ADMIN' && currentRole !== 'TRAINER'" id="switchStates" hidden>
                <button *ngIf="currentState === 'ACTIVE'" class="btn btn-danger" id="switchInactive"
                  (click)="switchState()">Switch to Inactive <i class='fas fa-bell-slash'></i></button>
                <button *ngIf="currentState === 'INACTIVE'" class="btn btn-success" id="switchActive"
                  (click)="switchState()">Switch to Active <i class='fas fa-bell'></i></button>
              </div>
              <br>
              <!--Change Password Button-->
              <div id="password" hidden>
                <button class="btn btn-success" id="password-box" data-toggle="modal" data-target="#forgotModal"
                  (click)="resetEmail()">Change Password</button>
                <!--<button class="btn btn-success" (click)="editPassword()">Edit Password</button>-->
              </div>
              <br>
              <div>
                <button class="btn btnEdit" (click)="edit()" id="edit">Edit <i class="fas fa-pencil-alt"></i></button>
                <button class="btn btnSubmit" (click)="submitChanges()" id="submit">Save Changes <i
                    class="fas fa-save"></i></button>
              </div>
              <div style="padding-top: 20px">
                <div *ngIf="!requiredInfoFields" class="alert alert-danger" id="errorMessage" hidden>
                  Please fill out ALL fields and confirm your passwords match
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="BIO div">
        <ngb-tab title="About Me" id="2">
          <ng-template ngbTabContent>
            <br>
            <div class="container-fluid">
              <div class="form-group">
                <label for="aboutYou">Bio</label>
                <textarea id="aboutYou" type="text" class="form-control" rows="4" #bioInput required maxlength="225"
                  disabled>{{existingBio}}</textarea>
              </div>
              <br>
              <div>
                <app-image-upload></app-image-upload>
              </div>
              <div class="input-group mb-3">
                <!-- to do: Contact info list -->
                <!-- <input type="text" class="form-control" [(ngModel)]="contactInfo"> -->
                <div style="padding-left: 20px">
                </div>
              </div>
              <br>
              <button class="btn btnEdit" (click)="updateBio()" id="editBio">Edit Bio <i
                  class="fas fa-pencil-alt"></i></button>
              <button class="btn btnSubmit" (click)="submitBioChanges(bioInput.value)" id="submitBio">Save Changes <i
                  class="fas fa-save"></i></button>
              <br>
              <br>
              <br>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="Contact div" id="cinfo">
        <ngb-tab title="Contact Info" id="4">
          <ng-template ngbTabContent>
            <div class="container-fluid">

              <div *ngIf="contactInfoArray.length > 0 ; else none">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Contact Type</th>
                      <th scope="col">Contact Info</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let item of contactInfoArray">

                    <td>{{item.type}}</td>
                    <td>{{item.info}}</td>
                  </tr>

                </table>
              </div>
              <ng-template #none>
                <h5>Looks like you don't have any contact info recorded. Add some below!</h5>
              </ng-template>

              <div class="input-group mb-3">

                <label for ="contactContent">
                  <select class="browser-default custom-select" #contactType>
                    <option [value]="type" *ngFor="let type of contactInfoTypes">
                      {{type}}
                    </option>
                  </select>
                </label>

                <input type="text" class="form-control" #contactContent required>
                <button type="button" id="updatebtn" class="btn btn-warning"
                  (click)="updateContactInfo(contactType.value, contactContent.value)">Update</button>
              </div>

            </div>
          </ng-template>
        </ngb-tab>
      </div>


    </ngb-tabset>
  </div>
</div>


<!-- Change Password Modal (taken from login component)-->
<div class="modal fade" id="forgotModal" #forgotmodal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <h5 class="text-center">Please check your email for the verification code.</h5>
          <form #reset="ngForm" (ngSubmit)="resetPassword(reset)" novalidate class="mt-5 ml-5">
            <div class="form-group">
              <label for="verifyCode">Verification Code</label>
              <input type="text" class="form-control" name="verifyCode" id="verifyCode" required ngModel
                #verify="ngModel" [class.is-invalid]="verify.invalid && verify.touched">
              <br>
              <small id="verifyMsg" [class.d-none]="verify.valid || verify.untouched" class="text-danger">
                Verification code is required
              </small>
            </div>
            <div class="form-group">
              <label for="resetPassword">Password</label>
              <input type="password" class="form-control" name="resetPassword" id="resetPassword" required ngModel
                #resetPass="ngModel" [class.is-invalid]="resetPass.invalid && resetPass.dirty"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
              <br>
              <small [class.d-none]="resetPass.valid || resetPass.untouched" class="text-danger">
                Password contain at least 8 characters, one captial letter, and one number.
              </small>
            </div>
            <div class="form-group">
              <label for="resetConfirm">Confirm Password</label>
              <input type="password" class="form-control" name="resetConfirm" id="resetConfirm" required ngModel
                #confirm="ngModel" [class.is-invalid]="confirm.invalid && confirm.dirty" pattern="{{resetPass.value}}">
              <br>
              <small [class.d-none]="confirm.valid || confirm.untouched" class="text-danger">Passwords do not
                match.</small>
            </div>
            <button type="submit" class="btn btn-primary float-right mr-5 mt-2" [disabled]="reset.form.invalid"
              >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>