<br>
<div class="form-group row">
  <div class="col-1"></div>
  <div class="col-lg-4 col-xs-12 extend">
    <ngb-tabset (tabChange)="tabSelect($event)">
      <div label="VIEW PROFILE div">
        <ngb-tab title="Your Profile" id="1">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Your Profile:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="firstName" #firstname="ngModel" id="firstName" required disabled>
              </div>
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                  First name cannot be empty
                </div>
                <div *ngIf="firstname.errors.maxLength">
                  ;
                  First name cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="basic-addon1 ">Last Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="lastName" #lastname="ngModel" id="lastName" required disabled>
              </div>
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                  Last name cannot be empty
                </div>
                <div *ngIf="lastname.errors.maxLength">
                  ;
                  Last name cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="username" #uName="ngModel" id="email" required placeholder="Email.."
                  disabled>
              </div>
              <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
                <div *ngIf="uName.errors.required">
                  Email cannot be empty
                </div>
                <div *ngIf="uName.errors.maxLength">
                  Email cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1 ">Password</span>
                </div>
                <input type="password" class="form-control " [(ngModel)]="password" #pWord="ngModel" id="password" required disabled>
              </div>
              <div *ngIf="pWord.invalid && (pWord.dirty || pWord.touched)" class="alert alert-danger">
                <div *ngIf="pWord.errors.required">
                  Password cannot be empty
                </div>
                <div *ngIf="pWord.errors.maxLength">
                  Password cannot be more than 15 characters
                </div>
              </div>
              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1 ">Confirm</span>
                </div>
                <input type="password" class="form-control " [(ngModel)]="passwordConfirm" #pConfirm="ngModel" id="confirmPassword" required
                  disabled>
              </div>
              <div *ngIf="pConfirm.invalid && (pConfirm.dirty || pConfirm.touched)" class="alert alert-danger">
                <div *ngIf="password != passwordConfirm">
                  Passwords do not match.
                </div>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Office Address</span>
                </div>
                <div class="input-group-text" style="padding-right: 137px; display: inline" id="currentOffice">
                </div>
                <div class="input-group-text" style="padding-right: 100px; display: none" id="selectOffice">
                  <select [(ngModel)]="officeObject">
                    <option *ngFor="let office of officeObjectArray">{{office.name}}</option>
                  </select>
                </div>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Address</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="autocompleteTest"
                  appPlacesAutocomplete (addressSelect)="autocomplete2($event)" [(ngModel)]="address2" #address="ngModel"
                  required id="address" placeholder="Type to search.." disabled>
              </div>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <div *ngIf="address.errors.required">
                  Address cannot be empty
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Batch End</span>
                </div>
                <input type="text" id="batchEnd" class="form-control" [(ngModel)]="batchEnd" disabled>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Day Start</span>
                </div>
                <input type="time" id="dayStart" class="form-control" [(ngModel)]="dayStart" disabled>
              </div>

              <div id="switchRoles" hidden>
                <button *ngIf="currentRole === 'DRIVER'" class="btn" id="switchRider" (click)="switchRole()">Switch to Rider <i class="fas fa-walking"></i></button>
                <button *ngIf="currentRole === 'RIDER'" class="btn" id="switchDriver" (click)="switchRole()">Switch to Driver <i class="fas fa-car"></i></button>
              </div>
              <br>
              <div id="switchStates" hidden>
                <!-- <input type="checkbox" id="activeState" disabled data-toggle="toggle" data-onstyle="success" data-on="Active <i class='fas fa-bell'></i>" data-offstyle="danger" data-height="100%" data-off="Inactive <i class='fas fa-bell-slash'></i>"> -->
                <button *ngIf="currentState === 'ACTIVE'" class="btn btn-danger" id="switchInactive" (click)="switchState()">Switch to Inactive <i class='fas fa-bell-slash'></i></button>
                <button *ngIf="currentState === 'INACTIVE'" class="btn btn-success" id="switchActive" (click)="switchState()">Switch to Active <i class='fas fa-bell'></i></button>
              </div>
              <br>
              <div>
                <button class="btn btnEdit" (click)="edit()" id="edit">Edit <i class="fas fa-pencil-alt"></i></button>
                <button class="btn btnSubmit" (click)="submitChanges()" id="submit">Save Changes <i class="fas fa-save"></i></button>
              </div>
              <div style="padding-top: 20px">
                <div *ngIf="!requiredInfoFields" class="alert alert-danger" id="errorMessage" hidden>
                  Please fill out ALL fields and confirm your passwords match
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="BIO div">
        <ngb-tab title="About Me" id="2">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Biography:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">About You</span>
                </div>
              </div>
              <textarea type="text" class="form-control" rows="4" [(ngModel)]="bio" required></textarea>
              <br>

              <div class="input-group mb-3">
                <div class="padBot"><span class="input-group-text" id="basic-addon1">Profile Picture</span></div>
                <input class="profile-pic" type="file" name="pic" accept="image/*" (change)="selectFile($event)">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1" style="padding-right: 95px">Contact Info</span>
                </div>
                <!-- to do: Contact info list -->
                <!-- <input type="text" class="form-control" [(ngModel)]="contactInfo"> -->
                <div style="padding-left: 20px">
                  <button class="btn" (click)="addContact()">
                    <span aria-hidden="true"></span>
                  </button>
                </div>
              </div>

              <div *ngFor="let item of contactInfoArray" class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="padding-right: 100px">
                    <select [(ngModel)]="item.type">
                      <option *ngFor="let contact of contactTypeArray">{{contact}}</option>
                    </select>
                  </div>
                  <input type="text" class="" [(ngModel)]="item.info">
                  <button aria-hidden="true" class="btn" (click)="removeContact(item)">-</button>
                </div>
              </div>
              <!-- <div>
                <span style="padding-right: 20px"><button class="btn btnNextPrevious" (click)="bioPrevious()">Previous</button></span>
                <span> <button class="btn btnNextPrevious" (click)="bioNext()">Next</button></span>
              </div> -->
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div *ngIf="currentRole === 'DRIVER'" label="CAR INFO div">
        <ngb-tab title="Your Garage" id="3">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Car Information:</h2>
              <br>
              <!-- <div class="input-group mb-3">
                <div class="input-group" id="button-addon3">
                  <span class="padRight"><button class="btn btnAddCar" type="button" (click)="isDriver()">Driver</button></span>
                  <span><button class="btn btnAddCar" type="button" (click)="isRider()">Rider</button></span>
                </div>
              </div> -->
              <br>
              <div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Make</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="carMake">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Model</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="carModel">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Year</span>
                  </div>
                  <input type="number" min="1950" max="5000" class="form-control" [(ngModel)]="carYear">
                </div>
              </div>
              <!-- <div>
                <span style="padding-right: 20px"><button class="btn btnNextPrevious" (click)="carPrevious()">Previous</button></span>
                <span> <button class="btn btnNextPrevious" (click)="edit()">Edit</button></span>
              </div> -->
              <!-- <div style="padding-top: 20px">
                <div *ngIf="!requiredCarFields" class="alert alert-danger">
                  Please select Driver or Rider
                </div>
              </div> -->
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div *ngIf="authService.isAdmin()" label="CONFIRMATION div">
        <ngb-tab title="View Users" id="4">
          <ng-template ngbTabContent>
            <div class="container-fluid">
            <br>
            <h2>View Users</h2>
            <table class="table table-striped table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>User's Name</th>
                  <th>User Email</th>
                  <th>User Role</th>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.id }}</td>
                  <td>{{ user.firstName }}&nbsp;{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.role }}</td>
                  <td><button *ngIf="user.role !== 'ADMIN'" class="btn btnEdit">Make Admin</button>
                    <button *ngIf="user.role === 'DRIVER' || user.role === 'RIDER'" class="btn btn-info">Make Trainer</button>
                  </td>
                  <td>
                    <button *ngIf="user.active === 'DISABLED'" class="btn btn-success">Enable Account <i class="fas fa-user-check"></i></button>
                    <button *ngIf="user.active !== 'DISABLED'" class="btn btn-danger" (click)="updateUserStatus(user.id, user.active)">Disable Account <i class="fas fa-user-times"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div *ngIf="currentRole === 'TRAINER'" label="TRAINER div">
          <ngb-tab title="View Associates" id="5">
            <ng-template ngbTabContent>
              <div class="container-fluid">
              <br>
              <h2>View Associates</h2>
              <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>User's Name</th>
                    <th>User Email</th>
                    <th>User Role</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}&nbsp;{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                      <button *ngIf="user.active === 'DISABLED'" class="btn btn-success">Enable Account <i class="fas fa-user-check"></i></button>
                      <button *ngIf="user.active !== 'DISABLED'" class="btn btn-danger" (click)="updateUserStatus(user.id, user.active)">Disable Account <i class="fas fa-user-times"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </ng-template>
          </ngb-tab>
        </div>
    </ngb-tabset>
  </div>
</div>