@media ( max-width : 400px) {
	.chart-container {
		min-height: 8.8em;
	}
}

@media ( min-width : 401px) and (max-width: 600px) {
	.chart-container {
		min-height: 11.8em;
	}
}

@media ( min-width : 601px) {
	.chart-container {
		min-height: 25.8em;
	}
}

span{
    font-size: 16px;
}

button{
    font-size: 14px;
}

input, textarea[type="text"]
{
    font-size:15px;
}

.input-group-text {
    max-width: 150px;
    max-height: 34px;
    text-align:left;
 }

.dyn-height {
   word-wrap: break-word;
  }

.btnEdit{
    background-color: #F26925;
    color: white;
    display: inline;
}

.btnEdit:hover {
    background-color: #d14500;
}

.btnSubmit{
    background-color: #72A4C2;
    color: white;
    display: none;
}

.btnAddCar{
    background-color: #72A4C2;
}

.profile-pic{
    border-radius: 100px;
}

.padRight{
    padding-right: 20px;
}

.padBot{
    padding-bottom: 20px;
}
