<br>
<div class="form-group row" id="tablecont" style="width: 100%; display: flexbox; justify-content: space-evenly">
  <div class="col-lg-4 col-xs-12 extend">
    <ngb-tabset (tabChange)="tabSelect($event)">

      <div label="VIEW PROFILE div">
        <ngb-tab title="Your Profile" id="1">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Your Profile:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="firstName" #firstname="ngModel" id="firstName"
                  required disabled>
              </div>
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                  First name cannot be empty
                </div>
                <div *ngIf="firstname.errors.maxLength">
                  ;
                  First name cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="basic-addon1 ">Last Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="lastName" #lastname="ngModel" id="lastName"
                  required disabled>
              </div>
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                  Last name cannot be empty
                </div>
                <div *ngIf="lastname.errors.maxLength">
                  ;
                  Last name cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="email" class="form-control" [(ngModel)]="username" #uName="ngModel" id="email" required
                  placeholder="Email.." disabled>
              </div>
              <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
                <div *ngIf="uName.errors.required">
                  Email cannot be empty
                </div>
                <div *ngIf="uName.errors.maxLength">
                  Email cannot be more than 25 characters
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
              </div>

      


              <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Role</span>
                </div>
                <input type="email" class="form-control" [(ngModel)]="userRolePlaceholderString" #uName="ngModel" id="decoy_user_role"
                  placeholder="Error: userRolePlaceholderString ngModel not set." disabled>
                <select id="user_role" class="browser-default custom-select" #roleType disabled hidden>
                  <option [value]="type" *ngFor="let type of userRoleTypes">
                    {{type}}
                  </option>
                </select>
              </div> -->
              

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Status</span>
                  </div>
                  <input type="email" class="form-control" [(ngModel)]="userActivityString" #uName="ngModel" id="decoy_user_activity"
                  placeholder="Error: userActivityString ngModel not set." disabled>
                  <select id="user_activity" class="browser-default custom-select" #roleType disabled hidden>
                    <option [value]="type" *ngFor="let type of userActivityTypes">
                      {{type}}
                    </option>
                  </select>
                </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Address</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                  name="autocompleteTest" appPlacesAutocomplete 
                  [(ngModel)]="_address" #address="ngModel" required id="address" placeholder="Type to search.."
                  disabled>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">City</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                   
                  [(ngModel)]="city" required id="city"
                  disabled>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">State</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                   
                  [(ngModel)]="state" required id="state"
                  disabled>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Zip Code</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                   
                  [(ngModel)]="zip" required id="zip"
                  disabled>
              </div>
              


              <button type="button" disabled = true class="btn" id="rider" style="width:50%" (click)="setRole('Rider')" [style.background-color]="this.colorButtons('Rider')">Rider</button>
              <button type="button" disabled = true class="btn" id="driver" style="width:50%" (click)="setRole('Driver')" [style.background-color]="this.colorButtons('Driver')">Driver</button>
            

              <!--<div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Batch End</span>
                </div>
                <input type="text" id="batchEnd" class="form-control" [(ngModel)]="batchEnd" disabled>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Starting Time</span>
                </div>
                <input type="text" id="dayStart" class="form-control" value="{{startTime | date:'shortTime'}}" disabled>
              </div>-->

              
              <br>
              <br>
              <div>
                <p>{{responseText}}</p>
              </div>
              <div>
                <button class="btn btnEdit" (click)="edit()" id="edit">Edit <i class="fas fa-pencil-alt"></i></button>
                <button class="btn btnSubmit" (click)="submitChanges()" id="submit">Save Changes <i
                    class="fas fa-save"></i></button>
              </div>
              <div style="padding-top: 20px">
                <div *ngIf="!requiredInfoFields" class="alert alert-danger" id="errorMessage" hidden>
                  Please fill out ALL fields and confirm your passwords match
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      

    </ngb-tabset>
  </div>
</div>