<br>
<div class="form-group row">
    <div class="col-1"></div>
    <div class="col-lg-3 col-xs-12 extend">
        <br>
        <h2>Register: </h2>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="username" #uName="ngModel" required>
        </div>
        <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
            <div *ngIf="uName.errors.required">
                Username cannot be empty
            </div>
            <div *ngIf="uName.errors.maxLength">
                Username cannot be more than 15 characters
            </div>
        </div>

        <div class="input-group mb-3 ">
            <div class="input-group-prepend ">
                <span class="input-group-text" id="basic-addon1 ">Password</span>
            </div>
            <input type="password" class="form-control " [(ngModel)]="password" #pWord="ngModel" required>
        </div>
        <div *ngIf="pWord.invalid && (pWord.dirty || pWord.touched)" class="alert alert-danger">
            <div *ngIf="pWord.errors.required">
                Password cannot be empty
            </div>
            <div *ngIf="pWord.errors.maxLength">
                Password cannot be more than 15 characters
            </div>
            <div *ngIf="pWord.errors.pattern">
                raah
            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group-prepend ">
                <span class="input-group-text" id="basic-addon1 ">Confirm</span>
            </div>
            <input type="password" class="form-control " [(ngModel)]="passwordConfirm" #pConfirm="ngModel" required>
        </div>
        <div *ngIf="pConfirm.invalid && (pConfirm.dirty || pConfirm.touched)" class="alert alert-danger">
            <div *ngIf="pConfirm.errors.required">
                Password Confirm cannot be empty
            </div>
            <div *ngIf="pConfirm.errors.maxLength">
                Password Confirm cannot be more than 15 characters
            </div>
            <div *ngIf="pConfirm.errors.pattern">
                raah
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Key</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="token" #tInput="ngModel" required>
        </div>
        <div *ngIf="tInput.invalid && (tInput.dirty || tInput.touched)" class="alert alert-danger">
            <div *ngIf="tInput.errors.required">
                You need a Key
            </div>
            <div *ngIf="tInput.errors.maxLength">
                Password Confirm cannot be more than 15 characters
            </div>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-primary" type="submit" (click)="submit()" style="width:75px">Register</button>
        </div>
    </div>
</div>