@media ( max-width : 400px) {
	.chart-container {
		min-height: 8.8em;
	}
}

@media ( min-width : 401px) and (max-width: 600px) {
	.chart-container {
		min-height: 11.8em;
	}
}

@media ( min-width : 601px) {
	.chart-container {
		min-height: 25.8em;
	}
}

span{
    font-size: 15px;
}

button{
    font-size: 14px;
}

input, textarea[type="text"]
{
    font-size:15px;
}

.dyn-height {
   word-wrap: break-word;
  }

.btnCar{
    background-color: #F26925;
}

.btnPassenger{
    background-color: #72A4C2;
}

.btnBoth{
    background-color: #B9B9BA;
}
