<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 pt-3">
      <!-- Tab Container -->
      <ngb-tabset>
        <ngb-tab title="Register" id="tab1">
          <!-- Tab 1 Content -->
          <ng-template ngbTabContent>
            <br />
            <form>
              <div class="form-row">
                <!-- First Name Input -->
                <div class="form-group col-md-6">
                  <label for="firstName">First Name</label>
                  <input [ngClass]="{ 'is-invalid': fn.invalid && (fn.dirty || fn.touched), 'is-valid': fn.valid }" #fn="ngModel" pattern="[a-zA-Z]*" [(ngModel)]="user.fname" type="text" class="form-control" name="firstName" id="firstName" placeholder="John" required/>
                  <div *ngIf="!!fn?.errors?.required" class="invalid-feedback">First name cannot be empty.</div>
                  <div *ngIf="!!fn?.errors?.pattern" class="invalid-feedback">First name cannot have any symbols or
                    numbers.</div>
                </div>
                <!-- Last Name Input -->
                <div class="form-group col-md-6">
                  <label for="lastName">Last Name</label>
                  <input [ngClass]="{ 'is-invalid': ln.invalid && (ln.dirty || ln.touched), 'is-valid': ln.valid }" #ln="ngModel" pattern="[a-zA-Z]*" [(ngModel)]="user.lname" type="text" class="form-control" name="lastName" id="lastName" placeholder="Doe" required/>
                  <div *ngIf="!!ln?.errors?.required" class="invalid-feedback">Last name cannot be empty.</div>
                  <div *ngIf="!!ln?.errors?.pattern" class="invalid-feedback">Last name cannot have any symbols or
                    numbers.</div>
                </div>
              </div>
              <!-- Email Input -->
              <div class="form-group">
                <label for="email">Email</label>
                <input [ngClass]="{ 'is-invalid': e.invalid && (e.dirty || e.touched), 'is-valid': e.valid }" #e="ngModel" pattern="^[a-zA-Z0-9_.+!%#$&'*?^{|}`~-]+@?(revature)\.com$" [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email" placeholder="john.doe@example.com" required/>
                <div *ngIf="!!e?.errors?.required" class="invalid-feedback">Email cannot be empty.</div>
                <div *ngIf="!!e?.errors?.pattern" class="invalid-feedback">Email must be a valid email.</div>
              </div>
              <!-- Address Input -->
              <div class="form-group">
                <label for="address">Address</label>
                <input [(ngModel)]="loc.address" type="text" class="form-control" name="address" id="address" placeholder="Your Address" appPlacesAutocomplete required/>
              </div>
              <!-- City Input -->
              <div class="form-group">
                <label for="city">City</label>
                <input [(ngModel)]="loc.city" type="text" class="form-control" name="city" id="city" placeholder="Your City" appPlacesAutocomplete required/>
              </div>
              <!-- State Input -->
<!-- 
              <div class="form-group">
                <label for="state">State</label>
                <input [(ngModel)]="loc.state" type="text" class="form-control" name="state" id="state" placeholder="Your State" appPlacesAutocomplete required/>
              </div> -->

              <div class="form-group">
                <label for="state">State</label>
                <select id="state" class="browser-default custom-select">
                  <option [value]="state" *ngFor="let state of s.states" [selected]="state === loc.state">
                    {{state}}
                  </option>
                </select>
              </div>


              <!-- Zip Code Input -->
              <div class="form-group">
                <label for="zip">Zip Code</label>
                <input [ngClass]="{ 'is-invalid': z.invalid && (z.dirty || z.touched), 'is-valid': z.valid }" #z="ngModel" [(ngModel)]="loc.zip" type="text" pattern="^[0-9][0-9][0-9][0-9][0-9]$" class="form-control" name="zip" id="zip" placeholder="Your Zip Code" appPlacesAutocomplete required/>
              </div>
              <!-- Role Selection -->
              <label>Role</label>
              <div class="btn-group w-100 mb-3" role="group">
                <button type="button" class="btn" id="rider" (click)="setRole('Rider')" [style.background-color]="this.colorButtons('Rider')">Rider</button>
                <button type="button" class="btn" id="driver" (click)="setRole('Driver')" [style.background-color]="this.colorButtons('Driver')">Driver</button>
              </div>
              <!-- Password Input -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="password">Password</label>
                  <input [ngClass]="{ 'is-invalid': p.invalid && (p.dirty || p.touched), 'is-valid': p.valid }" #p="ngModel" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,})" [(ngModel)]="user.password" (keydown)="passwordConfirm=''" type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                  <div *ngIf="!!p?.errors?.required" class="invalid-feedback">Password cannot be empty.</div>
                  <div *ngIf="!!p?.errors?.pattern" class="invalid-feedback">Password must be at least 8 characters
                    long, have both a lowercase and uppercase letter, a number, and a special character.</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="confirmPassword">Confirm Password</label>
                  <input [ngClass]="{ 'is-invalid': pc.invalid && (pc.dirty || pc.touched), 'is-valid': pc.valid }" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,})" #pc="ngModel" [(ngModel)]="passwordConfirm" type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required/>
                  <div class="invalid-feedback">Password doesn't match.</div>
                </div>
              </div>
              <div *ngIf="office" class="form-row">
                <!-- Office Display -->
                <div class="form-group col-md-6">
                  <label for="officeLocation">Office Location</label>
                  <input [(ngModel)]="office.name" type="text" class="form-control" name="officeLocation"
                    id="officeLocation" placeholder="Office Location" disabled />
                </div>
                <!-- Batch End Date Display -->
                <div class="form-group col-md-6">
                  <!-- <label for="batchEndDate">Batch End Date</label> -->
                  <!-- <input [(ngModel)]="user.batchEnd" type="date" class="form-control" name="batchEndDate" id="batchEndDate" placeholder="Batch End Date" disabled /> -->
                </div>
              </div>
              <button type="button" class="btn btn-primary float-right" (click)="changeTab('tab2')" [disabled]="fn.invalid || ln.invalid || e.invalid || p.invalid || pc.invalid || user.invalid || this.user.roles == undefined || this.user.roles.length == 0">Next</button>
            </form>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Review" id="tab2" [disabled]="true">
          <!-- Tab 3 Content -->
          <ng-template ngbTabContent>
            <!-- Display Gathered Data -->
            <br />
            <dl class="row">
              <dt class="col-sm-4">Name:</dt>
              <dd class="col-sm-8">{{ user.fname }} {{ user.lname }}</dd>

              <dt class="col-sm-4">Email:</dt>
              <dd class="col-sm-8" >{{ user.email }}</dd>

              <dt class="col-sm-4">Address:</dt>
              <dd class="col-sm-8">{{ loc.address }}</dd>

              <dt class="col-sm-4">City:</dt>
              <dd class="col-sm-8">{{ loc.city }}</dd>

              <dt class="col-sm-4">State:</dt>
              <dd class="col-sm-8">{{ loc.state }}</dd>

              <dt class="col-sm-4">Zip Code:</dt>
              <dd class="col-sm-8">{{ loc.zip }}</dd>

              <dt class="col-sm-4">Role:</dt>
              <dd class="col-sm-8">{{ getRoles() }}</dd>


            </dl>
            <button class="btn btn-primary float-left" (click)="changeTab('tab1')">Previous</button>
            <button class="btn btn-primary float-right" (click)="register()">Register</button>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
