.navvy-ber{
    background-color: #474C55;
    font-size: 1.5em;
    margin-bottom: 0px;
    border-radius: 0%;
}

.logo{
    /* width: 40%;  */
    height: 100%; 
    padding-top:2%;
    padding-bottom: 2%; 
    position: relative;
    /* padding-left:2%; */
}

#dropdownSettingsButton{
    background-color: transparent;
    border:none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#dropdownSettingsButton2{
    background-color: transparent;
    border:none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

@media only screen and (min-width:766px) {
    #dropdownSettingsButton{
        display:none;
    }
    #dropdownSettingsButton2{
        display:block;
    }
}
@media only screen and (max-width:766px) {
    #dropdownSettingsButton{
        display:block;
    }
    #dropdownSettingsButton2{
        display:none;
    }
}
.mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
    text-align: center;
}

.clearfix-xs:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
