<!-- <nav class="navbar navbar-expand-lg navbar-container-color navbar-default navbar-fixed-top navbar-offset">
  <div class="container-fluid">
    <div class="collapse navbar-collapse font-futura" id="navbarNav">
      <a href="#" class="navbar-left"><img src="../../../assets/img/revature_logo_250.png" class="logo-config"></a>
      <ul class="navbar-nav after-image">
        <li class="nav-item">
          <a class="nav-link between-navbar web-item navbar-text" style="color: #d6d6c2"routerLink="/home/account" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link between-navbar web-item navbar-text" style="color: #d6d6c2" routerLink="/home/create" routerLinkActive="active">Map</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link between-navbar web-item navbar-text" routerLink="/home/trips" routerLinkActive="active">My trips</a>
        </li>
      
      </ul>
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="navbar-link web-item navbar-text topnav-right" (click)="logout()" style="color: #d6d6c2">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img src="../../../assets/img/revature_logo_250.png" class="logo-config"> -->

<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">

  <a href="#" class="navbar-left"><img style="width: 40%; height: 20%; padding-top:2%; padding-left:2%;"src="../../../assets/img/rev-footer.png" class="logo-config"></a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: rgb(71, 76, 85);">

    <div class="navbar-nav" style="display:flex; justify-content:center;">

      <a class="nav-item nav-link" id="home" style="color: #d6d6c2; padding:20%; ">Home</a>

      <a class="nav-item nav-link" id="map" style="color: #d6d6c2; padding:20%;">Map</a>

      <a class="nav-item nav-link" id="logout" style="color: #d6d6c2; padding:20%;">Login</a>

    </div>

  </div>

</nav>