.navvy-ber{
    background-color: #474C55;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.logo{
    /* width: 40%;  */
    height: 100%; 
    padding-top:2%;
    padding-bottom: 2%; 
    position: relative;
    /* padding-left:2%; */
}

.mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
    text-align: center;
}

.clearfix-xs:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

