<nav class="navbar navbar-expand-md navbar-dark bg-dark navvy-ber" style="justify-content:initial;">
  <!--<div class="container" style="justify-content:center"> -->
    <a class="navbar-brand" routerLink="landing"><img src="assets/img/rev-footer.png" class="img-fluid logo" 
      onerror="this.onerror=null;this.src='rev-footer.png';"></a>
    <!-- <a class="navbar-brand" routerLink="/home"><img src="assets/img/rev-footer.png" class="img-fluid logo"></a> -->
    <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
        <button class="navbar-brand dropdown-toggle" type="button" id="dropdownSettingsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/img/settings_button.png" class="img-fluid logo" onerror="this.onerror=null;this.src='settings_button.png';">
        </button>
        <div class="dropdown-menu dropdown-menu-right" id="ddMenu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/howTo" style="padding-right:40px;">About</a>
          <a *ngIf="currentUser" class="dropdown-item" routerLink="/accountInfo">User Settings</a>
        </div>
      </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="padding-left:-100px; font-size:14px;">
        <a class="nav-link text-expanded nav-text" routerLink="landing" style="padding-right:30px; padding-left:0%;">Home<span class="sr-only">(current)</span></a>
        <a *ngIf="!session"class="nav-link text-expanded nav-text" routerLink="/login" style="padding-right:30px;">Login</a>
        <a *ngIf="session" class="nav-link text-expanded nav-text" routerLink="/admin" style="padding-right:30px;">Get Key</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/map" style="padding-right:30px;">Map</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/rideswipe" style="padding-right:30px;">Browse</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/favorites" style="padding-right:30px;">Favorites</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/cars" style="padding-right:30px;">Car</a>
        <a *ngIf="session" class="nav-link text-expanded nav-text" (click)="logout()" style="padding-right:30px;">Logout</a>
      </div>
  </div>
  <div class="dropdown">
      <button class="navbar-brand dropdown-toggle" type="button" id="dropdownSettingsButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/img/settings_button.png" class="img-fluid logo" onerror="this.onerror=null;this.src='settings_button.png';">
      </button>
      <img src="" alt="" id="profilePic">
      <div class="dropdown-menu dropdown-menu-right" id="ddMenu2" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/howTo">About</a>
        <a *ngIf="session" class="dropdown-item" routerLink="/userProfile">User Settings</a>
      </div>
    </div>
</nav>
