<nav class="navbar navbar-expand-md navbar-dark bg-dark navvy-ber" style="justify-content:initial;">
  <!--<div class="container" style="justify-content:center"> -->
    <a class="navbar-brand" routerLink="landing"><img src="assets/img/rev-footer.png" class=" logo" 
      onerror="this.onerror=null;this.src='rev-footer.png';"></a>
    <!-- <a class="navbar-brand" routerLink="/home"><img src="assets/img/rev-footer.png" class="img-fluid logo"></a> -->
    <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 30px" (click)="drop()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button *ngIf="session&&dropped" class="btn btn-secondary" (click)="logout()">Logout</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav" style="padding-left:-100px; font-size:14px;">
        <a class="nav-link text-expanded nav-text" routerLink="landing" style="padding-right:30px; padding-left:0%;">Home<span class="sr-only">(current)</span></a>
        <a *ngIf="!session"class="nav-link text-expanded nav-text" routerLink="/login" style="padding-right:30px;">Login</a>
        <a *ngIf="role!=null&&authService.isTrainer()" class="nav-link text-expanded nav-text" routerLink="/admin" style="padding-right:30px;">Get Key</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/map" style="padding-right:30px;">Map</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/rideswipe" style="padding-right:30px;">Browse</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/favorites" style="padding-right:30px;">Favorites</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/cars" style="padding-right:30px;">Car</a>
        <a *ngIf="session" class="nav-link text-expanded" routerLink="/userProfile">Profile</a>
        <a *ngIf="session" class="nav-link text-expanded nav-text" routerLink="/howTo" style="padding-right:30px;">About</a>
      </div>
  </div>
  <!-- replace this with logout0() eventually when auth0 is set up -->
  <button *ngIf="session&&!dropped" class="btn btn-secondary" (click)="logout()">Logout</button>
</nav>