.navvy-ber{
    background-color: #474C55;
    font-size: 1.5em;
}

.logo{
    /* width: 40%;  */
    height: 100%; 
    padding-top:2%;
    padding-bottom: 2%; 
    position: relative;
    /* padding-left:2%; */
}

.nav-link{
    padding-right:60%;
}