<h1>How to Use Revature Rideshare</h1>
<h2>Registering an Account</h2>
<h4>Create Profile:</h4>
<span>Creating your profile is the first part of the process for registering a new account.</span>
<br>
<span>This section requires you to input a variety of information:</span>
<ul>
  <li>Your first name</li>
  <li>Last name</li>
  <li>Username</li>
  <li>Password</li>
  <li>Address</li>
  <li>City</li>
  <li>State</li>
  <li>Zip code</li>
</ul>
<p>Once all of this information is entered, you may move on to the "About You" section, by clicking the "2" at the top of the form.
<h4>About You:</h4>
<span>The "About You" section requires some more information from you with a little more detail:</span> 
<ul>
  <li>About You: Here you can enter some details about yourself so your fellow employees can see if you are a good potential fit as a passenger or driver.</li>
  <li>Contact Info: 
<h4>Car Info:</h4>
<h4>Review and Submit:</h4>
<h2>Login</h2>
<h2>Map</h2>
<h2>Browse</h2>
