<br>
<br>
<div class="form-group row">
  <div class="col-1"></div>
  <div class="col-lg-10 col-xs-12 extend">
    <h1 style="text-align:center;">
      How to Use Revature RideForce</h1>
    <div class="howToBody">
      <br>
      <h2>Registering an Account:</h2>
      <span>To register a new account click "Get Started" on the main home page or "Login" on the navbar and then "Register" underneath the input fields.</span>
      <br>
      <br>
      <h4>Create Profile:</h4>
      <span>Creating your profile is the first part of the process for registering a new account.</span>
      <br>
      <span>This section requires you to input a variety of information:</span>
      <ul>
        <li>Your first name</li>
        <li>Last name</li>
        <li>Username</li>
        <li>Password</li>
        <li>Confirm Password</li>
        <li>Key: Allows access to RideForce given to you by your instructor</li>
        <li>Office Address</li>
        <li>Apartment Address</li>
        <li>Batch End Date: Instructor should also notify you on your batch end date</li>
      </ul>
      <p>Once all of this information is entered, you may move on to the "Biography" section, by clicking the "Next" button.
        <h4>Biography:</h4>
        <span>The "Biography" section requires some more information from you with a little more effort on detail:</span>
        <ul>
          <li>About You: Here you can enter some details about yourself so your fellow employees can see if you are a good potential
            fit as a passenger or driver.</li>
          <li>Contact Info: This is where you enter your contact information, click the "+" button to add a new contact option. There are seven main types you may select from: Phone number, Email, Slack, Skype,
            Discord, GroupMe, and other potential services of your choosing.</li>
        </ul>
        <p>When you are done with required information within this section, you can move on to the "Car Info" section, by clicking
          on the "Next" button.</p>
        <h4>Car Info:</h4>
        <span>Within this section there are three options: Car, Passenger, or Both.</span>
        <br>
        <span>If you do not have a car and plan on only being passenger, simply click next and move on to the next section.</span>
        <br>
        <span>If you have a car and plan on being a driver, click the "Car Info" button and fill out the required input fields:</span>
        <ul>
          <li>Make: Enter the brand of your vehicle.</li>
          <li>Model: Enter model of your vehicle.</li>
          <li>Year: Enter year of your vehicle.</li>
        </ul>
        <span>Later on, if you want to set yourself as inactive, you can do so in the profile edit page in the navbar at the top.</span>
        <p>Once all required information is entered depending on the option chose, move on to the final section by clicking the
          "Next" button.</p>
        <h4>Review and Submit:</h4>
        <span>You are now finished entering all required information and may review what you have entered thus far within this section.</span>
        <br>
        <span>If some of the information is incorrect, you may go back to previous sections by clicking the respective number and re-enter what is incorrect.</span>
        <br>
        <span>Once the information looks good, give it one more look and then click "Submit".</span>
        <br>
        <span>Congratulations! You have successfuly registered a new account and can login and start ridesharing with your new employees!</span>
        <br>
        <br>
        <h2>Login:</h2>
        <span>In order to login, you must have a registered account. If you haven't registered one yet, please refer to the "Registering Account" section above.</span>
        <br>
        <span>To login, simply click "Login" on the navigation bar.</span>
        <br>
        <span>You should now see the login view, which contains two input fields: "Username" and "Password".</span>
        <br>
        <span>Simply enter in your registered account's username and password into the respective input fields and click the big blue "Login" button underneath them.</span>
        <br>
        <br>
        <h2>Map:</h2>
        <span>To view nearby addresses of current drivers and passengers, login and click "Map" on the navigation bar.</span>
        <br>
        <span>After clicking "Map", you will now see a map focused on your location and pins within the map showing nearby driver's and passenger's addresses.</span>
        <br>
        <span>If you wish to see the profile page of a driver/passenger, simply click on the pin you wish to view.</span>
        <br>
        <br>
        <h2>Browse:</h2>
        <span>To browse potential drivers, once logged in click "Browse" on the navigation bar.</span>
        <br>
        <span>This will bring you to a view displaying a potential driver.</span>
        <br>
        <span>After viewing the potential driver's profile, if you think they are a good match, then "like" them as a potential driver.</span>
        <br>
        <span>If you think they are not a good match, simply "dislike" them and move on to the next.</span>
        <br>
        <br>
        <span>Once a a driver is "liked or "disliked", the next driver is immediately shown and the process repeats.</span>
        <br>
        <span>The order of drivers is determined by distance, so closer drivers will appear first on your browse page.</span>
        <br>
        <span>You can view all of the potential drivers that you have "liked" by viewing your "liked list"</span>
        <br>
        <span>Within this "liked list" you can once again view your "liked" drivers profiles.</span>
        <br>
        <span>Within their profile is their contact information, so simply reach out to them with whichever messaging service they have listed and hopefully it's a good match!</span>
    </div>
  </div>
</div>
