<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 pt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Generate Registration Token</h5>
          <h6 class="card-subtitle mb-2 text-muted">This token will be valid for 24 hours.</h6>
          <div class="form-row align-items-center">
            <!-- Office Location Selector -->
            <div class="form-group col-md-4">
              <label for="officeLocation">Office Location</label>
              <select [(ngModel)]="rtr.office" class="form-control" id="officeLocation">
                <option [ngValue]="office" *ngFor="let office of offices">{{ office.name }}</option>
              </select>
            </div>
            <!-- Batch End Date Input -->
            <div class="form-group col-md-4">
              <label for="batchEndDate">Batch End Date</label>
              <input type="date" class="form-control" [(ngModel)]="rtr.batchEndDate" />
            </div>
            <!-- Get Key button -->
            <div class="col-md-4 mt-3">
              <button class="btn btn-primary w-100" *ngIf="rtr.office && rtr.batchEndDate"
              (click)="getRegistrationKey()">Get Key</button>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="ERROR==true">
              <strong>DATE INVALID:  Enter a valid date to recieve a registration token!!!</strong></div>
          <!-- Registration Token -->
          <div class="form-group" *ngIf="ERROR==false">
            <label for="registrationToken">Registration Token</label>
            <span (click)="copyUponclick(genkeyclip)"><textarea [(ngModel)]="registrationToken" class="form-control " id="registrationToken" rows="8" readonly #genkeyclip></textarea></span>
            <div class="alert alert-danger" *ngIf="copyToClipboard==true">
              <strong>Copied to Clipboard</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
