<br>
<br>
<div class="form-group row">
  <div class="col-1"></div>
  <div class="col-lg-6 col-xs-12">
    <div class="container-fluid">
      <h2>Generate Key</h2>
      <h3>This key expires after 2 hours</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Batch End</span>
        </div>
        <input type="date" class="form-control" [(ngModel)]="batchEnd">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Office Address</span>
        </div>
        <div class="input-group-text" style="padding-right: 100px">
          <select [(ngModel)]="officeObject">
            <option value="" selected>Select Office</option>
            <option *ngFor="let office of officeObjectArray">{{office.name}}</option>
          </select>
        </div>
      </div>
      <button class="btn btn-primary" *ngIf="officeObject && batchEnd" (click)="getRegistrationKey()">Get Key</button>
      <br>
      <br>
      <p>Please send this key to your batch associates</p>
      <hr>
      <span class="key-text">
        <div>{{encryptedLocationDate}}{{registrationKey}}</div>
      </span>
    </div>
  </div>
</div>