<br>
<br>
<div class="form-group row">
  <div class="col-1"></div>
  <div class="col-lg-10 col-xs-12 extend">
    <div class="text-center" style="max-height: 460x;">
      <div class="subheader ">
        <h2>Generate Key</h2>
        <h3>This key expires after 2 hours</h3>
        <button class="btn btn-primary" (click)="getRegistrationKey()">Get Key</button>

        <br>
        <br>
        <hr>
        <div class="container-fluid">
          <p class="key-text">{{registrationKey}}</p>

        </div>

      </div>
    </div>
  </div>
</div>