<div class="form-row">
  <div class="col-lg-9">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" accept="image/*" (change)="onFileSelect($event)" />
      <label class="custom-file-label" for="customFile">Choose profile picture...</label>
    </div>
  </div>
  <div class="col-lg-3">
    <button type="button" class="btn btn-secondary w-100" (click)="onFileUpload()">Upload</button>
  </div>
</div>
<div class="progress mt-2">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngClass]="{'bg-success': imageUploadProgress == '100%'}" [style.width]="imageUploadProgress"></div>
</div>
<div id="UploadStats"></div>
