<!-- <form action="..." method="POST" enctype="multipart/form-data"> -->
  <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input accept="image/*" type="file" name="file" (change)="onFileSelect($event)">
    <button (click)="onFileUpload()">Upload</button>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="imageUploadProgress"></div>
    </div>
  </label>
<!-- </form> -->