.carousel-img{
  object-fit: cover;
  height: 600px;
}

.subheader {
  z-index: 1;
  min-height: 300px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #ffffffbf;
  position: relative;
  top: -400px;
}

.arrow {
  z-index: 2;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color:black;
}

.started,
.started focus,
.started:hover {
    color: #fff;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fadeIn.second {
   -webkit-animation-delay: 0.5s;
   -moz-animation-delay: 0.5s;
   animation-delay: 0.5s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
     animation-delay: 0.7s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
     animation-delay: 0.9s;
   }

.fadeIn.fifth {
    -webkit-animation-delay: 0.12s;
    -moz-animation-delay: 0.12s;
    animation-delay: 0.12s;
    visibility: visible !important;
   }

.fadeIn.sixth {
    -webkit-animation-delay: 0.14s;
    -moz-animation-delay: 0.14s;
    animation-delay: 0.14s;
    visibility: visible !important;
}

.fadeIn.seventh {
  -webkit-animation-delay: 0.16s;
  -moz-animation-delay: 0.16s;
  animation-delay: 0.16s;
  visibility: visible !important;
}

.hide-on-init {
  visibility: hidden;
}


 


/*
 * Base structure
 */

html,
body {
  height: 100%;
  
  /* background-color: #333; */
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  margin-top: 10px;
  /* box-sizing: content-box;
  padding-bottom: -20px; */
}

/* .carouselExampleIndicators {
    
} */

.cover-container {
  max-width: 42em;
  border: 20px;
  top: -400px;
}

.cover-heading {
    font-size: 50px;
    /* color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  ) */
}



/*
 * Header
 */
.masthead {
  margin-bottom: 30rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}



.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.button1 {
    display: auto;
    border-radius: 6px;
    background-color:  #F26925;
    color: black;
    border: 2px solid black;
    width: 30%;
}







/* Container holding the image and the text
.container {
    position: relative;
    margin: 0px;
    padding: 0px;
}

/* Bottom right text 
.text-block {
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: clear;
    color: white;
    padding-left: 20px;
    padding-right: 600px;
    padding-bottom: 600px;
}

#footer{
    visibility : hidden;
}
*/
.page-header img{
    height: 337.3px;
    opacity: .8;
    text-align: center;  
} 

.page-header {
    margin: -20px;
}

/* .header {
  max-height: 10px;
} */

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #F26925;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 27px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #rider {
    position: relative;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    font-size: 20px;
    margin-right: 300px;
  }

  .header {
    width: 100%
  }

  
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .lead {
      font-size: 24px;
  }

  @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

 .animated {
  background-repeat: no-repeat;
  background-position: left top;
  padding-top:95px;
  margin-bottom:60px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
} 
