<!-- Modal -->
<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <h5 class="text-center">Please check your email for the verification code.</h5>
          <form #reset="ngForm" (ngSubmit)="resetPassword(reset)" novalidate class="mt-5 ml-5">
            <div class="form-group">
              <label for="verifyCode">Verification Code</label>
              <input type="text" class="form-control" name="verifyCode" id="verifyCode" required ngModel #verify="ngModel"
                [class.is-invalid]="verify.invalid && verify.touched">
              <br>
              <small id="verifyMsg" [class.d-none]="verify.valid || verify.untouched" class="text-danger">
                Verification code is required
              </small>
            </div>
            <div class="form-group">
              <label for="resetPassword">Password</label>
              <input type="password" class="form-control" name="resetPassword" id="resetPassword" required ngModel
                #resetPass="ngModel" [class.is-invalid]="resetPass.invalid && resetPass.dirty" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
              <br>
              <small [class.d-none]="resetPass.valid || resetPass.untouched" class="text-danger">
                Password contain at least 8 characters, one captial letter, and one number.
              </small>
            </div>
            <div class="form-group">
              <label for="resetConfirm">Confirm Password</label>
              <input type="password" class="form-control" name="resetConfirm" id="resetConfirm" required ngModel
                #confirm="ngModel" [class.is-invalid]="confirm.invalid && confirm.dirty" pattern="{{resetPass.value}}">
              <br>
              <small [class.d-none]="confirm.valid || confirm.untouched" class="text-danger">Passwords do not match.</small>
            </div>
            <button type="submit" class="btn btn-primary float-right mr-5 mt-2" [disabled]="reset.form.invalid" (click)="resetEmail()">
              Reset
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<!-- <img src="assets/img/rev-brand.png"  id="frontrevicon" alt="Rev Icon" /><br><br> -->

<div class="wrapper fadeInDown float-top" >

  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- <div id="sign">
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover">Sign Up </h2>
  </div> -->
    <!-- Icon -->
    <div class="fadeIn first">

      <img src="assets/img/large_profile_default.png" onerror='this.onerror=null; this.src="large_profile_default.png"'
        id="fronticon" alt="User Icon" /> <br><br>
      <!-- <img src="https://i.pinimg.com/originals/aa/0a/70/aa0a70f1bf5dd2dda064461ae786be66.png" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <div>
      <form (submit)="login()">
        <input type="text" id="login" class="fadeIn second " name="login" placeholder="Email" required [(ngModel)]='userEmail'>
        <input type="password" id="password" class="fadeIn third " name="login" placeholder="Password" required
          [(ngModel)]='userPass'>
        <p id="errorMessageLogin" style="display: none ">Default Message</p>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    </div>

    <div id="formFooter">
      <a class="inactive underlineHover" routerLink="/register" id=sign style="padding-right:30px;">Register</a>
      <a style="padding-right:30px;">|</a>
      <a class="underlineHover" href="javascript:;" (click)="resetEmail()">Forgot
        Password</a> <br>
    </div>

  </div>
</div>
