<!-- <img src="assets/img/rev-brand.png"  id="frontrevicon" alt="Rev Icon" /><br><br> -->

<div class="wrapper fadeInDown float-top">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- <div id="sign">
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover">Sign Up </h2>
  </div> -->
    <!-- Icon -->
    <div class="fadeIn first">

      <img src="assets/img/large_profile_default.png"  onerror='this.onerror=null; this.src="large_profile_default.png"' id="fronticon" alt="User Icon" /> <br><br>
      <!-- <img src="https://i.pinimg.com/originals/aa/0a/70/aa0a70f1bf5dd2dda064461ae786be66.png" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <div>
    <form (submit)="login()">
      <input type="text" id="login" class="fadeIn second " name="login" placeholder="Email" required [(ngModel)]= 'userEmail'>
      <input type="password" id="password" class="fadeIn third " name="login" placeholder="Password" required [(ngModel)]='userPass'>
      <p id="errorMessageLogin" Style="display: none">Default Message</p>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>

    <!-- Forgot Password for later if wanted -->
    <div id="formFooter">
      <a class="inactive underlineHover" routerLink="/accountInfo" id=sign style="padding-right:30px;">Register</a>
      <a style="padding-right:30px;">|</a>
      <a class="underlineHover" href="#">Forgot Password?</a> <br>
    </div>

  </div>
</div>
