:host {
    display: block;
    overflow: hidden; /* Hide everything that doesn't fit compoennt */
  }
  .parent {
    height: 200%;
    width: 100%;      /* Make the parent element to take up twice
                         of the component's width */

  }

.thumb {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 155px;
    height: 155px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.swipe-box {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.cardImg {
    position: relative;
}

.cardToggleBio {
    background:url('/assets/icons/caret-top.png') no-repeat transparent;
    background-size: cover;
}

@media screen and (min-width: 1025px){
    .cardImg{
        height: 400px;
        width: 30%
       }
}


@media screen and (max-width: 1024px){
    .cardImg{
        height: 900px;
        width: 100%
    }
    .revLogo {
        position: absolute;
        top: 10%;
        left: 6%;
        width: 100px;
        height: 50px;
        z-index: 1;
      }

}

@media screen and (max-width: 480px){
    .cardImg{
        height: 400px;
        width: 100%
    }
    .revLogo {
        position: absolute;
        top: 12%;
        left: 6%;
        width: 50px;
        height: 25px;
        z-index: 1;
      }


}

