<div class="container parent"  [@slide]="activePane" style="padding-top: 40px">
    <!-- loop each card in our avatar card -->
    <div class="swipe-box" *ngFor="let card of swipecards; let i =index" (swipeleft)="swipe(i, $event.type, $event)" (swiperight)="swipe(i, $event.type, $event)"
        [class.visible]="card.visible" [class.hidden]="!card.visible">
        <div #swipeMain [@slide]="state" (@slide.done)="test($event)">
            <div class="text-center cardPic" style="margin: 30px 0px 20px 0px">
                <img class="revLogo" src="../../../assets/img/revature_logo_250.png" alt="">
                <img class="cardImg" [src]="card.user.photourl" [alt]="card.user.firstname">
            </div>
            <div class="container">
                <div>
                    <div style="display: flex; justify-content: space-between;">
                        <h1>{{card.user.firstname}}</h1>  <a (click)="animateMe()"><img src="../../../assets/icons/caret-top.png" alt=""></a>
                    </div>
                    <h1> duration / distance</h1>
                    <h1> contacts</h1>
                    <a><h1>link to bio</h1></a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
        <div #swipeBio [@slide]="state" (@slide.done)="test2($event)">
            <div class="container-fluid">
                <div class="row">
                    <div style="display: flex; justify-content: space-between;">
                        <h1>Name: {{card.user.firstname}}</h1><a (click)="animateMe()"><img src="../../../assets/icons/caret-bottom.png" alt=""></a>
                    </div>
                    <h1>Distance: </h1>
                    <h1>Contact: </h1>
                    <h1>car info: </h1>
                    <h1 *ngIf="card.rideinfo == undefined">ride info: </h1>
                </div>
            </div>
        </div>
    </div>
</div>