.swipe-box {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.revLogo {
    position: absolute;
    left: 6%;
    top: 7%;
}

@media screen and (min-width: 1025px){
    .cardImg{
        height: 400px;
        width: 30%
       }
}


@media screen and (max-width: 1024px){
    .cardImg{
        height: 900px;
        width: 100%
    }

}
