<div class="container parent">
    <img [@pop]="animThumbState" (@pop.done)="thumbAnimDone()" class="thumb" [src]="thumbImg" alt="">
    <div *ngIf="swipecards.length > 0">
        <div class="swipe-box" (swipeleft)="swipe($event.type, $event)" (swiperight)="swipe($event.type, $event)">
            <div #swipeMain>
                <!-- Displays current card -->
                <div class="text-center cardPic" style="margin: 30px 0px 20px 0px">
                    <!-- <img class="revLogo" src="assets/img/revature_logo_250.png" alt=""> -->
                    <img [@slide]="animState" (@slide.done)="swiped()" class="cardImg" [src]="currentSwipeCard.user.photoUrl" [alt]="currentSwipeCard.user.firstName">
                </div>

                <div>
                    <div style="display: flex; justify-content: space-between;">
                        <h1>{{currentSwipeCard.user.firstName}}</h1> <a data-toggle="collapse" data-target="#swipeBio" (click)="hideImage(true)"><img
                                src="assets/icons/caret-top.png" alt="" onerror="this.onerror=null;this.src='caret-top.png';"></a>
                    </div>
                    <h6>Address: {{currentSwipeCard.user.address}}</h6>
                    <h6>Email: {{currentSwipeCard.user.email}}</h6>
                    <h6>Batch end date: {{currentSwipeCard.user.batchEnd | date}}</h6>
                    <!-- {{currentSwipeCard.user.bio}} when bio implemented in model
                    I think the previous batch wanted to be able to click the bio link to view it.
                    *I* think we should just have the bio in the card. But what do I know.
                    -Martin -->
                    <a><h1>see comment</h1></a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="collapse" id="swipeBio">
                <div class="container-fluid">
                    <div style="display: flex; justify-content: space-between;">
                        <h1>Name: {{currentSwipeCard.user.firstName}} {{currentSwipeCard.user.lastName}}</h1><a data-toggle="collapse"
                            data-target="#swipeBio" (click)="hideImage(false)"><img src="assets/icons/caret-bottom.png"
                                alt="" onerror="this.onerror=null;this.src='caret-bottom.png';"></a>
                    </div>
                    <!-- The contact object currently isn't getting the contact type or info because of the way the 
                         observable is set up.-->
                    <h6 *ngFor="let contact of currentSwipeCard.user.contacts">{{contact.type}}: {{contact.info}}</h6>
                    <ng-container *ngIf="currentSwipeCard.user.role=='DRIVER'" >
                        <div *ngFor="let car of currentSwipeCard.user.cars">
                            <h5>Car info:</h5>
                            <p>{{car.make}}, {{car.model}}, {{car.year}}</p>
                        </div>
                    </ng-container>
                    <h5>Contact info:</h5>
                    <h6 *ngFor="let contact of currentSwipeCard.user.contactInfo">{{contact.type}}: {{contact.info}}</h6>
                    <h6></h6>
                    <h6 *ngIf="currentSwipeCard.user.role=='RIDER'">RIDER</h6>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="swipecards.length == 0" class="text-center">
        <h1>There's nobody here.</h1>
    </div>
</div>
