<br>
<div class="form-group row">
  <div class="col-3"></div>
  <div class="col-lg-6 col-xs-12 extend">
    <ngb-tabset (tabChange)="tabSelect($event)">
      <div label="CREATE PROFILE div">
        <ngb-tab title="1" id="1">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Create Profile</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="firstName" #firstname="ngModel" required>
              </div>
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                  First name cannot be empty
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="basic-addon1 ">Last Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="lastName" #lastname="ngModel" required>
              </div>
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                  Last name cannot be empty
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="username" #uName="ngModel" required placeholder="Enter your email">
              </div>
              <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
                <div *ngIf="uName.errors.required">
                  Email cannot be empty
                </div>
              </div>

              <div>
                <p>Password cannot be empty and must be between 8-16 characters long.</p>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="password" #pWord="ngModel" required placeholder="8-16 characters" pattern="[0-9a-zA-Z!@#]{8,16}" title="Between 8 - 16 character, !@# accepted">
              </div>
              <div *ngIf="pWord.invalid && (pWord.dirty || pWord.touched)" class="alert alert-danger">
                <div *ngIf="pWord.errors.required">
                  Password cannot be empty
                </div>
                
              </div>
              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1 ">Confirm</span>
                </div>
                <input type="password" class="form-control " [(ngModel)]="passwordConfirm" #pConfirm="ngModel" required placeholder="Confirm password">
              </div>
              
              <div *ngIf="pConfirm.invalid && (pConfirm.dirty || pConfirm.touched)" class="alert alert-danger">
                <div *ngIf="pConfirm.errors.required">
                  Password Confirm cannot be empty
                </div>
                <div *ngIf="password != passwordConfirm"> <!--------------------- FOR SOME REASON WON'T WORK --------------------->
                  Password does not match.
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Key</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="token" #tInput="ngModel" required (blur)="parseEncryption()">
              </div>
              <div *ngIf="tInput.invalid && (tInput.dirty || tInput.touched)" class="alert alert-danger">
                <div *ngIf="tInput.errors.required">
                  You need a Key
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Office Address</span>
                </div>
                <div class="input-group-text" style="padding-right: 100px">
                  <select [(ngModel)]="office" disabled>
                    <option>Location Name</option>
                    <option *ngFor="let office of officeObjectArray">{{office.name}}</option>
                  </select>
                </div>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Address</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="autocompleteTest"
                  appPlacesAutocomplete (addressSelect)="autocomplete2($event)" [(ngModel)]="address2" #address="ngModel"
                  required placeholder="Type to search..">
              </div>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <div *ngIf="address.errors.required">
                  Address cannot be empty
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Batch End</span>
                </div>
                <input type="date" class="form-control" [(ngModel)]="batchEnd" data-provide="datepicker" disabled>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Day Start</span>
                </div>
                <select class="form-control" [(ngModel)]="timeSelect">
                  <option value="7.5">7:30 AM</option>
                  <option value="8">8:00 AM</option>
                  <option value="8.5">8:30 AM</option>
                  <option value="9">9:00 AM</option>
                  <option value="9.5">9:30 AM</option>
                  <option value="10">10:00 AM</option>
                </select>
              </div>
              <div>
                <button class="btn btnNextPrevious" (click)="accountInfoNext()">Next</button>
              </div>
              <div style="padding-top: 20px">
                <div *ngIf="!requiredInfoFields" class="alert alert-danger">
                  Please fill out ALL fields and confirm your passwords match
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="BIO div">
        <ngb-tab title="2" id="2">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Biography:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">About You</span>
                </div>
              </div>
              <textarea type="text" class="form-control" rows="4" [(ngModel)]="bio" required></textarea>
              <br>

              <div class="input-group mb-3">
                <div class="padBot"><span class="input-group-text" id="basic-addon1">Profile Picture</span></div>
                <input class="profile-pic" type="file" name="pic" accept="image/*" (change)="selectFile($event)">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1" style="padding-right: 95px">Contact Info</span>
                </div>
                <!-- to do: Contact info list -->
                <!-- <input type="text" class="form-control" [(ngModel)]="contactInfo"> -->
                <div style="padding-left: 20px">
                  <button class="btn" (click)="addContact()">
                    <span aria-hidden="true">+</span>
                  </button>
                </div>
              </div>

              <div *ngFor="let item of contactInfoArray" class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="padding-right: 100px">
                    <select [(ngModel)]="item.type">
                      <option *ngFor="let contact of contactTypeArray">{{contact}}</option>
                    </select>
                  </div>
                  <input type="text" class="" [(ngModel)]="item.info">
                  <button aria-hidden="true" class="btn" (click)="removeContact(item)">-</button>
                </div>
              </div>
              <div>
                <span style="padding-right: 20px"><button class="btn btnNextPrevious" (click)="bioPrevious()">Previous</button></span>
                <span> <button class="btn btnNextPrevious" (click)="bioNext()">Next</button></span>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="CAR INFO div">
        <ngb-tab title="3" id="3">
          <ng-template ngbTabContent>
            <div class="input-group mb-3">
              <div class="btn-group" role="group" aria-label="btn groups">
                <button type="button" class="btn" id="riderBtn" (click)="isRider()">Rider</button>
                <button type="button" class="btn" id="driverBtn" (click)="isDriver()">Driver</button>
              </div>
            </div>

            <div>
              <span style="padding-right: 20px"><button class="btn btnNextPrevious" (click)="carPrevious()">Previous</button></span>
              <span> <button class="btn btnNextPrevious" (click)="carNext()">Next</button></span>
            </div>
            <div style="padding-top: 20px">
              <div *ngIf="!requiredCarFields" class="alert alert-danger">
                Please select Driver or Rider
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="CONFIRMATION div">
        <ngb-tab title="4" id="4">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Review and submit:</h2>
              <br>
              <h3><u>User Information</u></h3>
              <span>First name: {{firstName}}</span> <br>
              <span>Last Name: {{lastName}}</span> <br>
              <span>Email: {{username}}</span> <br>
              <span class="dyn-height" *ngIf="officeObject"> Office Address: 
                <div class="col-10">{{officeObject.name}}</div>
                <div class="col-10">{{officeObject.address}}</div><br>
              </span>
              <span class="dyn-height" *ngIf="address2"> Apartment Address: <div class="col-10">{{address2}}</div></span>
              <span>Batch: {{batchEnd}}</span> <br>
              <br>
              <div *ngIf="bio || contactInfoArray.length > 0">
                <h3><u>Biography</u></h3>
                <span class="dyn-height">About You: <div class="col-10">{{bio}}</div></span>
                <span>Contact Info:</span>
                <div style="margin-left: 20px">
                  <span *ngFor="let item of contactInfoArray"> {{item.type}}: {{item.info}} <br> </span>
                </div>
              </div>
              <br>
              <div *ngIf="carMake && carModel && carYear">
                <h3><u>Car Info</u></h3>
                <span>Make: {{carMake}}</span> <br>
                <span>Model: {{carModel}}</span> <br>
                <span>Year: {{carYear}}</span> <br>
              </div>
              <br>
              <div>

                <span class="padRight"> <button class="btn btnNextPrevious" (click)="reviewPrevious()">Previous</button></span>

                <span> <button class="btn btnNextPrevious" (click)="createUserObject()" >Finish</button></span>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
    </ngb-tabset>
  </div>
</div>