<br>
<div class="form-group row">
  <div class="col-1"></div>
  <div class="col-lg-3 col-xs-12 extend">
    <ngb-tabset (tabChange)="tabSelect($event)">
      <div label="CREATE PROFILE div">
        <ngb-tab title="1" id="1">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Create Profile:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="firstName" #firstname="ngModel" required>
              </div>
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                  Firstname cannot be empty
                </div>
                <div *ngIf="firstname.errors.maxLength">
                  ;
                  Firstname cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="basic-addon1 ">Last Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="lastName" #lastname="ngModel" required>
              </div>
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                  Lastname cannot be empty
                </div>
                <div *ngIf="lastname.errors.maxLength">
                  ;
                  Lastname cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Username</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="username" #uName="ngModel" required placeholder="Email..">
              </div>
              <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger">
                <div *ngIf="uName.errors.required">
                  Username cannot be empty
                </div>
                <div *ngIf="uName.errors.maxLength">
                  Username cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1 ">Password</span>
                </div>
                <input type="password" class="form-control " [(ngModel)]="password" #pWord="ngModel" required>
              </div>
              <div *ngIf="pWord.invalid && (pWord.dirty || pWord.touched)" class="alert alert-danger">
                <div *ngIf="pWord.errors.required">
                  Password cannot be empty
                </div>
                <div *ngIf="pWord.errors.maxLength">
                  Password cannot be more than 15 characters
                </div>
              </div>
              <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text" id="basic-addon1 ">Confirm</span>
                </div>
                <input type="password" class="form-control " [(ngModel)]="passwordConfirm" #pConfirm="ngModel" required>
              </div>
              <div *ngIf="pConfirm.invalid && (pConfirm.dirty || pConfirm.touched)" class="alert alert-danger">
                <div *ngIf="pConfirm.errors.required">
                  Password Confirm cannot be empty
                </div>
                <div *ngIf="pConfirm.errors.maxLength">
                  Password Confirm cannot be more than 15 characters
                </div>
                <div *ngIf="password != passwordConfirm">
                  password does not match.
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Key</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="token" #tInput="ngModel" required>
              </div>
              <div *ngIf="tInput.invalid && (tInput.dirty || tInput.touched)" class="alert alert-danger">
                <div *ngIf="tInput.errors.required">
                  You need a Key
                </div>
                <div *ngIf="tInput.errors.maxLength">
                  Password Confirm cannot be more than 15 characters
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Office Address</span>
                </div>
                <div class="input-group-text" style="padding-right: 100px">
                  <select [(ngModel)]="officeObject">
                    <option *ngFor="let office of officeObjectArray">{{office.name}}</option>
                  </select>
                </div>
                <!-- <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="autocompleteTest"
                    appPlacesAutocomplete (addressSelect)="autocomplete1($event)" [(ngModel)]="address1" placeholder="Type to search.."> -->
                <!-- <input type="text" class="form-control" [(ngModel)]="address.address" required> -->
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Address</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="autocompleteTest"
                  appPlacesAutocomplete (addressSelect)="autocomplete2($event)" [(ngModel)]="address2" #address="ngModel"
                  required placeholder="Type to search..">
                <!-- <input type="text" class="form-control" [(ngModel)]="address.address2" required> -->
              </div>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                <div *ngIf="address.errors.required">
                  Address cannot be empty
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Batch End</span>
                </div>
                <input type="date" class="form-control" [(ngModel)]="batchEnd">
              </div>
              <div>
                <button class="btn btnNextPrevious" (click)="accountInfoNext()">next</button>
              </div>
              <div style="padding-top: 20px">
                <div *ngIf="!requiredFields" class="alert alert-danger">
                  Please fill out All fields
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="BIO div">
        <ngb-tab title="2" id="2">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Biography:</h2>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">About You</span>
                </div>
              </div>
              <textarea type="text" class="form-control" rows="4" [(ngModel)]="bio" required></textarea>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1" style="padding-right: 95px">Contact Info</span>
                </div>
                <!-- to do: Contact info list -->
                <!-- <input type="text" class="form-control" [(ngModel)]="contactInfo"> -->
                <div style="padding-left: 20px">
                  <button class="btn" (click)="addContact()">
                    <span aria-hidden="true">+</span>
                  </button>
                </div>
              </div>

              <div *ngFor="let item of contactInfoArray" class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="padding-right: 100px">
                    <select [(ngModel)]="item.type">
                      <option *ngFor="let contact of contactTypeArray">{{contact}}</option>
                    </select>
                  </div>
                  <input type="text" class="" [(ngModel)]="item.info">
                  <button aria-hidden="true" class="btn" (click)="removeContact(item)">-</button>
                </div>
              </div>
              <div>
                <span style="padding-right: 20px"><button class="btn btnNextPrevious" (click)="bioPrevious()">previous</button></span>
                <span> <button class="btn btnNextPrevious" (click)="bioNext()">next</button></span>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="CAR INFO div">
        <ngb-tab title="3" id="3">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Car Information:</h2>
              <br>
              <div>
                <span style="padding-right: 20px;"><button class="btn btnAddCar" (click)="AddCarInfo()">Car Info</button></span>
              </div>
              <br>
              <div *ngIf="btnCarInfo">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Make</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="carMake">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Model</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="carModel">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Year</span>
                  </div>
                  <input type="number" min="1950" max="5000" class="form-control" [(ngModel)]="carYear">
                </div>
              </div>
              <div>
                <span style="padding-right: 20px"><button class="btn btnNextPrevious" (click)="carPrevious()">previous</button></span>
                <span> <button class="btn btnNextPrevious" (click)="carNext()">next</button></span>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
      <div label="CONFIRMATION div">
        <ngb-tab title="4" id="4">
          <ng-template ngbTabContent>
            <div class="container-fluid">
              <br>
              <h2>Review and submit:</h2>
              <br>
              <h3><u>User Information</u></h3>
              <span>First name: {{firstName}}</span> <br>
              <span>Last Name: {{lastName}}</span> <br>
              <span>Username: {{username}}</span> <br>
              <span class="dyn-height" *ngIf="officeObject"> Office Address: <div class="col-10">{{officeObject}}</div><br></span>
              <span class="dyn-height" *ngIf="address2"> Apartment Address: <div class="col-10">{{address2}}</div></span>
              <span>Batch: {{batchEnd}}</span> <br>
              <br>
              <div *ngIf="bio || contactInfoArray.length > 0">
                <h3><u>Biography</u></h3>
                <span class="dyn-height">About You: <div class="col-10">{{bio}}</div></span>
                <span>Contact Info:</span>
                <div style="margin-left: 20px">
                  <span *ngFor="let item of contactInfoArray"> {{item.type}}: {{item.info}} <br> </span>
                </div>
              </div>
              <br>
              <div *ngIf="carMake && carModel && carYear">
                <h3><u>Car Info</u></h3>
                <span>Make: {{carMake}}</span> <br>
                <span>Model: {{carModel}}</span> <br>
                <span>Year: {{carYear}}</span> <br>
              </div>
              <br>
              <div>

                <span> <button class="btn btnNextPrevious pr-2" (click)="reviewPrevious()">previous</button></span>

                <span> <button class="btn btnNextPrevious" (click)="createUserObject()">Add User</button></span>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </div>
    </ngb-tabset>
  </div>
</div>
