agm-map{
    height: 500px;


  }


/* BEWARE! SCARY STUFF BELOW!    */

.pumpkinButton {
  background-color: transparent;
  background-image: url('https://www.speedybuttons.com/shop/image/Holidays/718.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 50px;
  border: none;
  background-size: contain;
}
   @font-face {
    font-family: 'spooky';
    font-size: 15px;
    src: url(/assets/fonts/GypsyCurse.ttf)  format('truetype')

  }

  .spooky-font {
    font-family: 'spooky';
    color: orange;
  }

  .frosty-font {
    font-family: 'frosty';
    color: green;
  }

  .spooky-background {
    position: absolute;
    height: 130% !important;
    width: 100% !important;
    top:6.4%;
    z-index: -1;
    opacity: 1;
    transform-origin: 50% 50%;
  }

  .spooky-background2 {
    position: absolute;
    height: 130% !important;
    width: 100% !important;
    top:6.4%;
    z-index: -1;
    opacity: 1;
    -webkit-filter: brightness(3);
  filter: brightness(3);
  -o-filter: brightness(3);
  -moz-filter: brightness(3);
    transform-origin: 50% 50%;
  }

  .flashit{
    -webkit-animation: flash ease-out 7s infinite;
    -moz-animation: flash ease-out 7s infinite;
    animation: flash ease-out 7s infinite;
    animation-delay: 2s;
    }

    @-webkit-keyframes flash {
      from { opacity: 0; }
      92% { opacity: 0; }
      93% { opacity: 0.6; }
      94% { opacity: 0.2; }
      96% { opacity: 0.9; }
      to { opacity: 0; }
    }

    @keyframes flash {
      from { opacity: 0; }
        92% { opacity: 0; }
      93% { opacity: 0.6; }
        94% { opacity: 0.2; }
        96% { opacity: 1; }
      to { opacity: 0; }
    }

   .witch {
    background-image: url(http://getdrawings.com/img/witch-silhouette-27.png);
    background-size: auto 100%;
    width: 150px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
  }

  .ghost {
    background-image: url(http://4.bp.blogspot.com/-47W6fg75QXE/VMqoUgDAwhI/AAAAAAAAAzU/4ihxDamh3dE/s1600/Ghost_single-15.png);
    background-size: auto 100%;
    width: 120px;
    height: 125px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-timing-function: steps(10);
  }

  .snowflake
  {
    background-image: url(https://thumbs.gfycat.com/EasyDopeyLeafbird-max-1mb.gif);
    background-size: cover;
    width:100px;
    height:100px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
  }
  
  /* Santa sleigh gif*/
  .sleigh
  {
    background-image: url(https://www.softcat.com/assets/uploads/campaigns/softcat-christmas-2017/Santa-Sleigh_V2.gif);
    width:1800px;
    height:371px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
  }
  
    .witch-one {
      animation-duration: 1s;
      animation-delay: -0.5s;
    }

    .witch-two {
      animation-duration: 0.9s;
      animation-delay: -0.75s;
    }

    .witch-three {
      animation-duration: 1.25s;
      animation-delay: -0.25s;
    }

    .witch-four {
      animation-duration: 1.1s;
      animation-delay: -0.5s;
    }

    .ghost-one {
      animation-duration: 2s;
      animation-delay: -0.5s;
    }

    .ghost-two {
      animation-duration: 2.9s;
      animation-delay: -0.75s;
    }

    .ghost-three {
      animation-duration: 3.25s;
      animation-delay: -0.25s;
    }

    .ghost-four {
      animation-duration: 3.1s;
      animation-delay: -0.5s;
    }



  .witch-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;

    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 50;
  }

  .ghost-container {
    position: absolute;
    top: 40%;
    right: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;

    animation-name: fly-left-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 50;
  }
    .witch-container-one {
      animation-duration: 8s;
      animation-delay: 0;
    }

    .witch-container-two {
      animation-duration: 9s;
      animation-delay: 1s;
    }

    .witch-container-three {
      animation-duration: 7.6s;
      animation-delay: 2.5s;
    }

    .witch-container-four {
      animation-duration: 8.5s;
      animation-delay: 3.25s;
    }

    .ghost-container-one {
      animation-duration: 15s;
      animation-delay: 0;
    }

    .ghost-container-two {
      animation-duration: 16s;
      animation-delay: 1s;
    }

    .ghost-container-three {
      animation-duration: 14.6s;
      animation-delay: 2.5s;
    }

    .ghost-container-four {
      animation-duration: 16s;
      animation-delay: 3.25s;
    }


  @keyframes fly-cycle {

    100% {
      background-position: -900px 0;
    }

  }

  @keyframes fly-right-one {

    0% {
      transform: scale(0.3) translateX(-10vw);
    }

    10% {
      transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
      transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
      transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
      transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

  }

  @keyframes fly-left-one {

    0% {
      transform: translateY(-2vh) translateX(10vw) scale(0.5);
    }

    10% {
      transform: translateY(0vh) translateX(-10vw) scale(0.4);
    }

    20% {
      transform: translateY(-4vh) translateX(-30vw) scale(0.6);
    }

    30% {
      transform: translateY(1vh) translateX(-50vw) scale(0.45);
    }

    40% {
      transform: translateY(-2.5vh) translateX(-70vw) scale(0.5);
    }

    50% {
      transform: translateY(0vh) translateX(-90vw) scale(0.45);
    }

    51% {
      transform: translateY(0vh) translateX(-110vw) scale(0.45);
    }

    100% {
      transform: translateY(0vh) translateX(-110vw) scale(0.45);
    }



  }
