<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
      <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="mapReady($event)" [fitBounds]="true">
        <button class="btn btn-primary" id="festivals" (click)="festivalClicked()"> Drivers Near You
        </button>
        <agm-marker [latitude]='lat' [longitude]='lng' [label]="labelOptions" [agmFitBounds]="true">
        </agm-marker>
        <agm-marker (markerClick)="window.open()" (markerClick)="window.close()"
          *ngFor="let coords of events; let i = index" [latitude]="coords.location.latitude" [longitude]="coords.location.longitude"
          [agmFitBounds]="true">

          <agm-info-window #window>
            <h5>Driver Name:</h5>
            <h6>{{ coords.firstName }} {{ coords.lastName }} </h6>
            
            <br>
            <h5>Driver Contact Info:</h5>
            <h6>{{coords.email}}</h6>
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
  </div>
</div>
