agm-map{
  height: 80vh;
  width: 97vw;
}

button:focus {
  outline: 0 !important;
}

  /* .profile-card {
    border: 1px solid #000; 
    margin: 3vh 1vh; 
    height: 70.3vh;
    width: 25vw;
  }

  .profile-pic {
    height: 30vh;
  } */

