<div class="container parent">
  <div *ngFor="let card of swipecards;" style ="margin: 30px 0px 20px 0px;" id="likeContainer"> 
      <div class="card">
        <img class="card-img-top" src={{card.user.photoUrl}} alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{card.user.firstName}}</h4>
          <h6 class="card-text">{{card.user.address}}</h6>
          <h6>Role: {{card.user.role}}</h6>
          <h5 *ngIf="card.user.cars.length==1">Car:</h5>
          <h5 *ngIf="card.user.cars.length>1">Cars:</h5>
          <div *ngFor="let car of card.user.cars;">
              <h6 class="card-text">{{car}}</h6>
          </div>
          <h5 *ngIf="card.user.contactInfo.length>0" class="card-text">Contact Info:</h5>
              <h6 *ngFor="let contact of card.user.contactInfo" class="card-text">{{contact}}</h6>
          <a href="#" class="btn btn-primary">Like</a>
        </div>
      </div>
    </div>
</div>



