<div class="container">
  <div class="container-fluid">
    <br>
    <h2>Vehicle Information:</h2>
    <br>
    <br>
  </div>
  <div>
    
      <div class="form-group">
        <label for="Make">Make</label>
        <br>
        <input type="text" [(ngModel)]="carObject.make">
        <br>        
        <label for="Model">Model</label>
        <br>
        <input type="text" [(ngModel)]="carObject.model">
        <br>        
        <label for="Year">Year</label>
        <br>
        <input type="number" [(ngModel)]="carObject.year">
        <br>        
        <label for="color">Color</label>
        <br>
        <input type="text" [(ngModel)]="carObject.color">
        <br>
        <label for="licensePlate">License Plate</label>
        <br>
        <input type="text" [(ngModel)]="carObject.license">
        <br>
      </div>
    <button type='submit' (click)="submitAutomobile()">Register Car</button>
    </div>
</div>
