<div class="container">
 <div class="container-fluid">
   <br>
   <h2>Vehicle Information:</h2>
   <br>
   <br>
 </div>
 <div class="container-fluid">
   <form name="VehicleForm" novalidate>
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="Make">Make</label>
         <input [ngClass]="{ 'is-invalid': make.invalid && (make.dirty || make.touched), 'is-valid': make.valid }"
           #make="ngModel" [(ngModel)]="carObject.make" type="text" class="form-control" name="make" id="make" placeholder = "Honda" required />
           <div *ngIf="!!make?.errors?.required" class="invalid-feedback">Make cannot be empty
           </div>
         </div>

         <div class="form-group col-md-6">
           <label for="Model">Model</label>
           <input [ngClass]="{ 'is-invalid': model.invalid && (model.dirty || model.touched), 'is-valid': model.valid }"
           #model="ngModel" [(ngModel)]="carObject.model" type="text" class="form-control" name="model" id="model" placeholder = "Civic" required />
             <div *ngIf="!!model?.errors?.required" class="invalid-feedback">Model cannot be empty
             </div>
         </div>
         <div class="form-group col-md-6">
           <label for="Year">Year</label>
           <input [ngClass]="{ 'is-invalid': year.invalid && (year.dirty || year.touched), 'is-valid': year.valid }"
         #year="ngModel" [(ngModel)]="carObject.year" type="number" class="form-control" name="year" id="year" placeholder="2018"
         required />
           <div *ngIf="!!year?.errors?.required" class="invalid-feedback">Year cannot be empty
           </div>
         </div>

         <div class="form-group col-md-6">
           <label for="Color">Color</label>
           <input [ngClass]="{ 'is-invalid': color.invalid && (color.dirty || color.touched), 'is-valid': color.valid }"
         #color="ngModel" [(ngModel)]="carObject.color" type="text" class="form-control" name="color" id="color"
         placeholder="Red" required />
           <div *ngIf="!!color?.errors?.required" class="invalid-feedback">Color cannot be empty
           </div>
         </div>

         <div class="form-group col-md-6">
           <label for="License">License Plate</label>
           <input
         [ngClass]="{ 'is-invalid': license.invalid && (license.dirty || license.touched), 'is-valid': license.valid }"
         #color="ngModel" [(ngModel)]="carObject.license" type="text" class="form-control" name="license" id="license"
         placeholder = "ABC 123" required />
           <div *ngIf="!!license?.errors?.required" class="invalid-feedback">License Plate cannot be empty
           </div>
         </div>
       </div>
   </form>
   <button class='btn btn-edit' type='submit' (click)="submitAutomobile()" style= "background-color:orange; width: 15%">Update Car</button>
   <span id="successLine">{{success}}</span>
</div>    
</div>