<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Trip checklist</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <h5>In progress</h5>
      \
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()" (click)="modal.close()">Save</button>
  </div>
</ng-template>